##ignore this file##
*.idea
__pycache__
*.zip
flower_data
*.h5
*.pth
*.pt
*.jpg
*.ckpt.*
*.ckpt
*.config
*.gz
*.onnx
*.xml
*.bin
*.mapping
checkpoint
data
data_set/flower_data
pytorch_classification/Test11_efficientnetV2/3d1s-weights
pytorch_classification/Test11_efficientnetV2/fkv3-weights
pytorch_classification/Test11_efficientnetV2/fkv3-yolov5-105-221-weights
pytorch_classification/Test11_efficientnetV2/fkv3-yolov5-session2-weights
pytorch_classification/Test11_efficientnetV2/hd-weights
pytorch_classification/Test11_efficientnetV2/pre-trained
pytorch_classification/vision_transformer/runs
pytorch_classification/vision_transformer/weights
VOCdevkit
ssd_resnet50_v1_fpn_shared_box_predictor
